# HW3 - Practical Databases

Noa Ben-David (300950565)  
Yonatan Greenshpan (204266191)

In [ ]:
# import required libraries and dependencies
import sqlite3
import pandas as pd
import os
import random
import string

In [ ]:
last_names = [
    "Levi", "Cohen", "Mizrachi", "Ben-David", "Katz", "Peretz", "Weiss", "Friedman", "Goldberg", "Avidan",
    "Levin", "Harel", "Carmi", "Shapira", "Adler", "Azulay", "Golan", "Cohen", "Zarfati", "Ohana",
    "Mor", "Avrahami", "Shachar", "Biton", "Luzon", "Kadosh", "Drori", "Amir", "Rosenbaum", "Gur",
    "Koren", "Natan", "Bashan", "Gefen", "Zaguri", "Zada", "Meir", "Vardi", "Berger", "Alon",
    "Stern", "Vaknin", "Elbaz", "Shavit", "Barkai", "Ovadia", "Amrami", "Glickman", "Margalit", "Even",
    "Shaul", "Pinto", "Yosef", "Harari", "Kaplan", "Meshulam", "Yitzhaki", "Cohen", "Bar-Lev", "Weissman",
    "Goldstein", "Soffer", "Eisenberg", "Golan", "Nir", "Avraham", "Yoffe", "Tamir", "Paz", "Dahan",
    "Zamir", "Carmeli", "Amir", "Malka", "Shamir", "Cohen", "Ben-Haim", "Rozenblat", "Barzilai", "Asulin",
    "Gavriel", "Tal", "Yaniv", "Admoni", "Amram", "Binyamin", "Kadosh", "Elimelech", "Yakobov", "Zaltzman",
    "Meiri", "Shavit", "Tzur", "Bentzion", "Ovadia", "Shapira", "Yitzhak", "Mizrachi", "Ben-Shabat", "Amrami",
    "Yeshurun", "Kaspi", "Kedar", "Vardi", "Shalom", "Eitan", "Glickman", "Ohayon", "Kohen", "Elimelech",
    "Scheinin", "Amsalem", "Sharabi", "Weiss", "Sadeh", "Shani", "Golan", "Even-Chen", "Harari", "Shimon",
    "Leitner", "Aviram", "Barak", "Weizman", "Katzir", "Orlev", "Zamir", "Kaplan", "Eitan", "Golani",
    "Cohen", "Ben-Harosh", "Rozenbaum", "Barzilai", "Asulin", "Gavriel", "Tal", "Yaniv", "Admoni", "Amram",
    "Binyamin", "Kadosh", "Elimelech", "Yakobov", "Zaltzman", "Meiri", "Shavit", "Tzur", "Bentzion", "Ovadia"]

first_names = [
    "Noa", "Yael", "Maya", "Tamar", "Shira", "Adi", "Noga", "Lior", "Eli", "Yoni",
    "Daniel", "Aviv", "Omri", "Yotam", "Ido", "Itay", "Gil", "Matan", "Bar", "Nir",
    "Sarit", "Shani", "Gal", "Inbal", "Keren", "Tali", "Dana", "Tal", "Moran", "Michal",
    "Yaniv", "Yaron", "Omer", "Yair", "Ron", "Eran", "Hadar", "Gali", "Roni", "Lihi",
    "Amit", "Yiftach", "Or", "Yaeli", "Adva", "Nir", "Shay", "Maayan", "Avital", "Efrat",
    "Ronit", "Hila", "Shani", "Yam", "Elad", "Gili", "Amir", "Hadar", "Shachar", "Shlomi",
    "Yishai", "Sagi", "Liron", "Sharon", "Eitan", "Galit", "Ruth", "Yonatan", "Yarden", "Sivan",
    "Tomer", "Avi", "Ran", "May", "Sharon", "Oshri", "Natalie", "Iris", "Noy", "Omri",
    "Ronit", "Adi", "Shaked", "Tom", "Ofir", "Noam", "Yifat", "Dor", "Rotem", "Eliran",
    "Ariel", "Mor", "Ziv", "Efrat", "Guy", "Yam"]

street_names = [
    "Rothschild Boulevard",
    "Dizengoff ",
    "Ibn Gabirol ",
    "Ben Yehuda ",
    "Allenby ",
    "HaYarkon ",
    "Herzl ",
    "King George ",
    "Bograshov ",
    "Hayarkon ",
    "Allenby ",
    "Ben Gurion Boulevard",
    "Shenkin ",
    "HaCarmel ",
    "Montefiore ",
    "Yehuda HaLevi ",
    "Ben Zion Boulevard",
    "Bialik ",
    "Nachalat Binyamin ",
    "HaHashmonaim ",
    "HaYarkon ",
    "Ben Yehuda ",
    "HaBima ",
    "Frishman ",
    "Gordon ",
    "Arlozorov "]

In [ ]:
if os.path.exists('inovative_flowers'):
    os.remove('inovative_flowers')

In [ ]:
def show_all_tables(database_file):
    conn = sqlite3.connect(database_file)
    cursor = conn.cursor()

    # Retrieve the list of tables in the database
    cursor.execute("SELECT name FROM sqlite_master WHERE type='table';")
    tables = cursor.fetchall()

    # Print the table names
    for table in tables:
        print(table[0])

    conn.close()
    
def delete_all_records(table_name):
    conn = sqlite3.connect('your_database.db')
    cursor = conn.cursor()
    
    try:
        cursor.execute(f"DELETE FROM {table_name};")
        print(f"All records deleted from table '{table_name}'.")
        conn.commit()
    except sqlite3.Error as e:
        print(f"Error deleting records from table '{table_name}': {e}")
    
    conn.close()

In [ ]:
show_all_tables('inovative_flowers')

## Initializing the DB

Creating a database and establish a connection to it

In [ ]:
conn = sqlite3.connect('inovative_flowers') 
c = conn.cursor()

Creating the Scheme according to the ERD

In [ ]:
c.execute('''
    CREATE TABLE IF NOT EXISTS Drones (
        DroneID INTEGER PRIMARY KEY,
        Manufacturer TEXT,
        Model TEXT,
        PayloadCapacity REAL,
        AlgoUses INTEGER
    )
''')

In [ ]:
c.execute('''
    CREATE TABLE IF NOT EXISTS Algorithms (
        AlgoName TEXT PRIMARY KEY,
        License TEXT,
        NeedInternet INTEGER,
        BasedGPS INTEGER
    )
''')

In [ ]:
c.execute('''
    CREATE TABLE IF NOT EXISTS Customers (
        ID INTEGER PRIMARY KEY,
        FullName TEXT,
        Gender TEXT,
        Address TEXT,
        DateOfBirth TEXT,
        PartnerID INTEGER,
        GiftCardEligible INTEGER
    )
''')

In [ ]:
c.execute('''
    CREATE TABLE IF NOT EXISTS Products (
        CatalogNumber INTEGER PRIMARY KEY,
        Type TEXT,
        Price REAL,
        Weight REAL,
        Height REAL
    )
''')

In [ ]:
c.execute('''
    CREATE TABLE IF NOT EXISTS Foods (
        CatalogNumber INTEGER PRIMARY KEY,
        Name TEXT
        Calories REAL,
        Vegan INTEGER,
        Kosher INTEGER,
        FOREIGN KEY (CatalogNumber) REFERENCES Products(CatalogNumber)

    )
''')

In [ ]:
c.execute('''
    CREATE TABLE IF NOT EXISTS Flowers (
        CatalogNumber INTEGER PRIMARY KEY,
        Name TEXT,
        Color TEXT,
        LightNeed TEXT,
        WaterNeed TEXT,
        FOREIGN KEY (CatalogNumber) REFERENCES Products(CatalogNumber)

    )
''')

In [ ]:
c.execute('''
    CREATE TABLE IF NOT EXISTS "Orders" (
        CustomerID INTEGER,
        TimeDate TEXT,
        CatalogNumber INTEGER,
        DroneID INTEGER,
        Quantity INTEGER,
        TotalPrice REAL,
        PRIMARY KEY (CatalogNumber, CustomerID, TimeDate),
        FOREIGN KEY (CustomerID) REFERENCES Customers(ID),
        FOREIGN KEY (CatalogNumber) REFERENCES Products(CatalogNumber),
        FOREIGN KEY (DroneID) REFERENCES Drones(DroneID)
    )
''')

In [ ]:
c.execute('''
    CREATE TABLE IF NOT EXISTS FoodBusinesses (
        BusinessName TEXT PRIMARY KEY,
        Address TEXT,
        Phone TEXT
    )
''')

In [ ]:
conn.commit()

Fullfill the scheme with data

In [ ]:
conn = sqlite3.connect('inovative_flowers') 
c = conn.cursor()

In [ ]:
c.execute('''
    INSERT INTO Drones (DroneID, Manufacturer, Model, PayloadCapacity, AlgoUses)
    VALUES
        (1, 'DJI', 'Mavic Air 2', 2.49, 'NavFree'),
        (2, 'DJI', 'Mavic Air 2', 2.49, 'NavGar'),
        (3, 'DJI', 'Mavic Air 2', 2.49, 'NavFree'),
        (4, 'DJI', 'Mavic Mini', 0.25, 'NavGar'),
        (5, 'DJI', 'Mavic Mini', 0.25, 'NavGar'),
        (6, 'Parrot', 'Anafi', 0.31, 'NavFree'),
        (7, 'Parrot', 'Anafi', 0.31, 'NavGar'),
        (8, 'Parrot', 'Anafi', 0.31, 'NavFree'),
        (9, 'Parrot', 'Bebop 2', 0.5, 'NavGar'),
        (10, 'Parrot', 'Bebop 2', 0.5, 'NavGar')
''')

In [ ]:
c.execute('''
    INSERT INTO Algorithms (AlgoName, License, NeedInternet, BasedGPS)
    VALUES
        ('NavFree', 'Free', 1, 0),
        ('NavGar', 'Garmin', 0, 1)
''')

In [ ]:
n = 63

def generate_unique_ids(n):
    ids = set()
    while len(ids) < n:
        # Generate a random ID number
        id_number = random.randint(100000000, 999999999)
        ids.add(id_number)
    return list(ids)

distinct_ids = generate_unique_ids(n)

def generate_random_full_name():
    first_name = random.choice(first_names)
    last_name = random.choice(last_names)
    full_name = f"{first_name} {last_name}"
    return full_name

def generate_address():
    street = random.choice(street_names)
    number = random.choice(list(range(1, 50)))
    return f"Tel-Aviv, {street}, {number}"

for i in range(1, n):
    ID = distinct_ids.pop()
    full_name = generate_random_full_name()
    gender = random.choice(['Male', 'Female'])
    address = generate_address()
    date_of_birth = f'{random.randint(1950, 2008)}-{random.randint(1, 12):02d}-{random.randint(1, 28):02d}'
    partner_id = "NULL"
    gift_card_eligible = "0"
    
    c.execute('''
        INSERT INTO Customers (ID, FullName, Gender, Address, DateOfBirth, PartnerID, GiftCardEligible)
        VALUES (?, ?, ?, ?, ?, ?, ?)
    ''', (ID, full_name, gender, address, date_of_birth, partner_id, gift_card_eligible))

In [ ]:
c.execute('''
    INSERT INTO Products (CatalogNumber, Type)
    VALUES
        ('FO001', 'Food', 10.99, 0.3),
        ('FO002', 'Food', 8.99, 0.25),
        ('FO003', 'Food', 7.49, 0.4),
        ('FL001', 'Flower', 11.99, 0.32),
        ('FL002', 'Flower', 5.99, 0.3),
        ('FL003', 'Flower', 7.99, 0.27),
        ('FL004', 'Flower', 12.99, 0.38),
        ('FL005', 'Flower', 9.49, 0.33)
''')

In [ ]:
c.execute('''
    INSERT INTO Foods (CatalogNumber, Name, Calories, Vegan, Kosher)
    VALUES
        ('FO001', 'Hamburger', 1000, 0, 1),
        ('FO002', 'Pizza', 600, 1, 0),
        ('FO003', 'Salad', 200, 1, 1)

''')

In [ ]:
conn.commit()

In [ ]:
c.execute('''
SELECT *
FROM Customers
''')
pd.DataFrame(c.fetchall())

In [ ]:
delete_all_records("Drones")
show_all_tables('inovative_flowers')

In [ ]:

conn = sqlite3.connect('your_database.db')
c = conn.cursor()

c.execute('DELETE FROM Drones;')

conn.commit()
conn.close()

## Exploring the Data

Let's have a look on the following queries

In [ ]:
conn = sqlite3.connect('w3school_database') 
c = conn.cursor()

In [ ]:
# YOUR QUERY
c.execute('''
SELECT ProductId, ProductName
FROM products
WHERE ProductName LIKE "%Alice%"




          ''')

df = pd.DataFrame(c.fetchall(), columns=['ProductID', 'ProductName'])
df.head()

In [ ]:
conn.commit()

**Some discussion**