In [1]:
import sqlite3
import pandas as pd

conn = sqlite3.connect('test') 
c = conn.cursor()

c.execute('''
    CREATE TABLE IF NOT EXISTS Foods (
        CatalogNumber TEXT PRIMARY KEY,
        Name TEXT
        Calories REAL,
        Vegan INTEGER,
        Kosher INTEGER,
        FOREIGN KEY (CatalogNumber) REFERENCES Products(CatalogNumber)

    )
''')


c.execute('''
    INSERT INTO Foods (CatalogNumber, Name, Calories, Vegan, Kosher)
    VALUES
        ('FO001', 'Hamburger', 1000, 0, 1),
        ('FO002', 'Pizza', 600, 1, 0),
        ('FO003', 'Salad', 200, 1, 1)

''')

OperationalError: table Foods has no column named Calories

In [ ]:
conn = sqlite3.connect('test') 
c = conn.cursor()

In [ ]:
c.execute('''
    CREATE TABLE IF NOT EXISTS Products (
        CatalogNumber TEXT PRIMARY KEY,
        Type TEXT,
        Price REAL,
        Weight REAL
    )
''')

In [ ]:



(CatalogNumber, Name, Calories, Vegan, Kosher)

In [ ]:
c.execute('''
    INSERT INTO Products (CatalogNumber, Type, Price, Weight)
    VALUES
        ('FO001', 'Food', 10.99, 0.3),
        ('FO002', 'Food', 8.99, 0.25),
        ('FO003', 'Food', 7.49, 0.4),
        ('FL001', 'Flower', 11.99, 0.32),
        ('FL002', 'Flower', 5.99, 0.3),
        ('FL003', 'Flower', 7.99, 0.27),
        ('FL004', 'Flower', 12.99, 0.9),
        ('FL005', 'Flower', 9.49, 0.33),
        ('FL006', 'Flower', 25.00, 0.38),
        ('FL007', 'Flower', 9.49, 0.33)
''')

In [ ]:
c.execute('''
    INSERT INTO Flowers (CatalogNumber, Name, Color, LightNeed, WaterNeed)
    VALUES
        ('FL001', 'Roses', 'Red', 'Full Sun', 'Moderate'),
        ('FL002', 'Tulips', 'Yellow', 'Partial Sun', 'Regular'),
        ('FL003', 'Lilies', 'White', 'Partial Shade', 'Regular'),
        ('FL004', 'Sunflowers', 'Yellow', 'Full Sun', 'Frequent'),
        ('FL005', 'Daisies', 'White', 'Partial Shade', 'Regular'),
        ('FL006', 'Orchids', 'Purple', 'Partial Sun', 'Regular'),
        ('FL007', 'Carnations', 'Pink', 'Partial Shade', 'Moderate')
''')

In [ ]:
c.execute('''

DESC Products

''')

c.fetchall()