# HW3 - Practical Databases

Noa Ben-David (300950565)  
Yonatan Greenshpan (204266191)

In [ ]:
# import required libraries and dependencies
import sqlite3
import pandas as pd

## Initializing the DB

Creating the Scheme according to the ERD

In [ ]:
conn = sqlite3.connect('w3school_database') 
c = conn.cursor()

In [ ]:
c.execute('''
          CREATE TABLE IF NOT EXISTS categories
          ([CategoryID] INTEGER PRIMARY KEY,
           [CategoryName] TEXT,
           [Description] TEXT)
          ''');

In [ ]:
c.execute('''
          CREATE TABLE IF NOT EXISTS products
          ([ProductID] INTEGER PRIMARY KEY,
           [CategoryID] INTEGER KEY,
           [SupplierID] INTEGER KEY,
           [ProductName] TEXT,
           [Unit] TEXT,
           [Price] DOUBLE,
           FOREIGN KEY(CategoryID) REFERENCES categories(CategoryID),
           FOREIGN KEY(SupplierID) REFERENCES suppliers(SupplierID))
          ''');

In [ ]:
conn.commit()

Fullfill the scheme with data

In [ ]:
conn = sqlite3.connect('w3school_database') 
c = conn.cursor()

In [ ]:
c.execute('''
          INSERT INTO shippers (ShipperID, ShipperName, Phone)
                VALUES
                (1, 'Speedy Express', '(503) 555-9831'),
                (2, 'United Package', '(503) 555-3199'),
                (3, 'Federal Shipping', '(503) 555-9931')
          ''');

In [ ]:
conn.commit()

In [ ]:
conn = sqlite3.connect('w3school_database') 
c = conn.cursor()

## Exploring the Data

Let's have a look on the following queries

In [ ]:
conn = sqlite3.connect('w3school_database') 
c = conn.cursor()

In [ ]:
# YOUR QUERY
c.execute('''
SELECT ProductId, ProductName
FROM products
WHERE ProductName LIKE "%Alice%"




          ''')

df = pd.DataFrame(c.fetchall(), columns=['ProductID', 'ProductName'])
df.head()

In [ ]:
conn.commit()

**Some discussion**